#div1{
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 500px;
    height: 200px;
    width: 200px;
    background-color: rgb(46, 44, 44);
    color: white;
    
}

#div2{
    margin-top: 35px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    height: 100px;
    width: 100px;
    background-color: black;
    color: white;
}

